<% include ./partiels/header%>
<dir style="margin-top:3em;"></dir>
<div class="main text ui container">
	<div class="ui huge header">Blog App</div>
	<div class="ui top attached segment">
		<div class="ui diveded items">
			<%blogs.forEach(function(item){%>
			<div class="item">
				<div class="image">
					<img src="<%=item.image%>">
				</div>
				<div class="content">
					<a class="header"><%=item.title%></a>
					<div class="meta">
						<span class="cinema"><%=item.created.toDateString()%></span>
					</div>
					<div class="description">
						<p><p><%-item.body.substring(0, 100)%>...</p></p>
					</div>
					<div class="extra">
						<a class="ui floated basic violet button" href="/blogs/<%=item._id%>">read more<i class="right chevron icon"></i></a>
					</div>
				</div>
			</div>
			<%});%>
		</div>
	</div>
</div>

<% include ./partiels/footer%>